<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Acl/etc/acl.xsd">
    <acl>
        <resources>
            <resource id="Magento_Backend::admin">
                <resource id="Magento_Backend::marketing">
                    <resource id="Playhf_InfoBar::notifications" title="Notifications" sortOrder="25">
                        <resource id="Playhf_InfoBar::top_info_bar" title="Top Information Bars" sortOrder="0" />
                    </resource>
                </resource>
                <resource id="Magento_Backend::stores">
                    <resource id="Magento_Backend::stores_settings">
                        <resource id="Magento_Config::config">
                            <resource id="Playhf_InfoBar::config" title="Top Information bar" translate="title" sortOrder="10000" />
                        </resource>
                    </resource>
                </resource>
            </resource>
        </resources>
    </acl>
</config>