<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Playhf\InfoBar\Api\Data\InfoBarSearchResultInterface"
                type="Magento\Framework\Api\SearchResults" />
    <preference for="Playhf\InfoBar\Api\Data\InfoBarInterface" type="Playhf\InfoBar\Model\InfoBar" />
    <preference for="Playhf\InfoBar\Api\InfoBarRepositoryInterface" type="Playhf\InfoBar\Model\InfoBarRepository" />

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="playhf_infobar_listing_data_source" xsi:type="string">Playhf\InfoBar\Model\ResourceModel\InfoBar\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Playhf\InfoBar\Model\ResourceModel\InfoBar\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="const">Playhf\InfoBar\Setup\InstallSchema::TABLE_NAME_MAIN</argument>
            <argument name="resourceModel" xsi:type="string">Playhf\InfoBar\Model\ResourceModel\InfoBar</argument>
        </arguments>
    </type>

</config>